:root {
  --header-height: 3.125vw;
  /* 3rem = 45px */
  /* ==========colors========== */
  --black-color: #07080A;
  --black-color-alt: #0E1013;
  --title-color: #E7E8EB;
  --text-color: #BFC1C5;
  --text-color-light: #A7A9AE;
  --white-color: #FFF;
  --body-color: #0A0C0F;
  --container-color: #131519;
  --text-gradient: linear-gradient(var(--text-color), var(--black-color-alt));
  --scroll-thumb-color: #202328;
  --scroll-thumb-color-alt: #292C32;
  /* ==========font and typography========== */
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 15px;
  --biggest-font-size: 5.2vw;
  /* 5rem = 75px */
  --bigger-font-size: 3.1vw;
  /* 3rem = 45px */
  --big-font-size: 2.6vw;
  /* 2.5rem = 37.5px */
  --h2-font-size: 1.3vw;
  /* 1.25rem = 18.75px */
  --h3-font-size: 1.2vw;
  /* 1.125rem = 16.875px */
  --small-font-size: 0.8vw;
  /* 0.813rem = 12.195px */
  --smaller-font-size: 0.8vw;
  /* 0.75rem = 11.25px */
  --text-line-height: 2.1vw;
  /* 2rem = 30px */
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== margin ==========*/
  --mb-0-5: 0.5vw;
  /* 0.5rem = 7.5px */
  --mb-0-75: 0.8vw;
  /* 0.75rem = 11.25px */
  --mb-1: 1vw;
  /* 1rem = 15px */
  --mb-1-5: 1.6vw;
  /* 1.5rem = 22.5px */
  --mb-2: 2.1vw;
  /* 2rem = 30px */
  --mb-2-5: 2.6vw;
  /* 2.5rem = 37.5px */
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}